<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAsV6RuaS6chfNLtcIROgFe2lNbl-KN338</string>
	<key>GCM_SENDER_ID</key>
	<string>489611157233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fyp23083.kickinsights</string>
	<key>PROJECT_ID</key>
	<string>kickinsights-ccc1e</string>
	<key>STORAGE_BUCKET</key>
	<string>kickinsights-ccc1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489611157233:ios:9f597528cfa649bddb9350</string>
</dict>
</plist>